.personalizada li::marker {
    padding-left: 25px;
}

.lista-doble {
    display: flex; /* coloca las listas lado a lado */
    gap: 20px; /* espacio entre listas */
}

.lista-divisora {
    list-style: none; /* quita los puntos */
    padding: 0; /* elimina relleno */
    margin: 0; /* elimina márgenes */
    width: 200px; /* ancho opcional */
}

.lista-divisora li {
    border-bottom: 1px solid #ccc; /* línea divisora */
    padding: 10px; /* espacio interno */
}

.lista-divisora li:last-child {
    border-bottom: none; /* quita la línea al último */
}

.color-marron {
    color: hsl(14, 45%, 36%);
}



li {
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}

ol {
    color: hsl(30, 10%, 34%);
}

ul {
    color: hsl(30, 10%, 34%);
}

li::marker {
   color: hsl(14, 45%, 36%);
}

p {
    color: hsl(30, 10%, 34%);
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}

.subtitulo {
    color: hsl(14, 45%, 36%);
}

.subtitulo-1 {
    color: hsl(332, 51%, 32%);
}

.container {
    background-color: hsl(0, 0%, 100%);
    margin: 4rem 0;
    border-radius: 0.6rem;
    padding: 2rem;
}

.articulo-1 {
    background-color: hsl(330, 100%, 98%);
    margin: 0.5rem 0;
    border-radius: 0.6rem;
    padding: 1rem;
}

header h1 {
    font-family: sans-serif;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: hsl(30, 54%, 90%);
    margin: 0 auto;
    width: 1440px;
    max-width: 900px;
    
}